<div>
  <div>
    <h1>last update: {{updatedTime |date:'long' }}</h1>
  </div>
  <div>
    <mat-accordion *ngFor="let qa of qa">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ qa.question}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ qa.answer}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
